*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.container {
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-left {
    justify-content: flex-end;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
}

.main-header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*top: 0;*/
    /*left: 50%;*/
    /*transform: translate(-50%, 0);*/
    background-color: #212d3fea;
    z-index: 2;
}

.header__body {
    position: relative;
    padding: 0 20px;
    height: 40px;
}

.header__burger {
    display: none;
}

.main-nav__list {
    list-style-type: none;
    position: relative;
    z-index: 2;
}

.main-nav__list li {
    padding: 0 20px;
}

.main-nav__link {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.main-nav__list a:hover {
    color: #ff6b08;
}

.wrapper {
    background-color: #fff;
    padding: 60px 20px 20px 20px;
    box-shadow: 10px 15px 20px #165a996b;
}

.side-bar {
    background-color: #212d3fea;
    width: 370px;
    padding: 20px 0;
}

.my-photo {
    width: 370px;
}

.contacts {
    color: #ffffff;
    padding: 40px 40px 0 40px;
}

.contacts-list {
    list-style-type: none;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #797c81e5;
    text-decoration: none;
}

.contacts-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px;
}

.contacts-icon {
    width: 32px;
    height: 32px;
}

.skills {
    padding: 40px 40px 0 40px;
}

.skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding: 15px 0;
    color: #ff5b08;
}

.skills-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}

.skills-list-text {
    color: #ffffff;
    font-weight: 100;
}

.about-me {
    padding: 100px 50px 25px;
}

.info-container {

}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 90px;
}

.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding: 50px 0 20px 0;
}

.project-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.project-item {
    font-weight: 700;
    margin-left: 20px;
}

.dots {
    color: #a8a8a8
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 0 0 10px 0;
}

.profession-company {
    color: #ff6b08;
}

.time {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
}

.time-delimiter {
    color: #000000;
}

.profession-duties {
    padding: 10px 0 20px 0;
}

.profession-duties-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 17px;
    color: #595959;
}

.faculty {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.footer {
    padding: 20px;
    position: relative;
}

.copyright {
    color: #818181;
    float: right;
    font-weight: 400;
    font-size: 16px;
}

.icon {
    margin: 5px;
    width: 50px;
    height: 50px;
}

.rs {
    width: 100px;
}

.info-menu ul {
    list-style: none;
}

.info-menu li {
    display: inline-block;
    margin-right: 2em;
}

.info-menu symbol {
    color: #4E4E4E;
}



@media (max-width: 767px) {

    body.lock {
        overflow: hidden;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #ffffff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.2s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s ease 0s;
    }

    .header__burger:before {
        top:0;
    }
    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .main-nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #212d3fea;
        padding: 40px 10px 10px 10px;
        transition: all 0.2s ease 0s;
    }

    .main-nav.active {
        top: 0;
    }

    .main-nav__list {
        display: block;
    }

    .main-nav__list li {
        padding: 10px 0;
    }

}
